PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# m h dom mon dow user command
* * * * * root /etc/cron.d/embulkScript.sh
# cron requires that each entry in a crontab end in a newline character
