PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

* * * * * embulk run /root/mashr/embulk_config.yml >> /var/log/cron.log 2>&1
# An empty line is required at the end of this file for a valid cron file.
